/*less*/
#header::after {
  /*&看做#header*/
  content: "less is more";
}
#header .title {
  font-weight: bold;
}
#header_content {
  margin: auto;
}
#main {
  border: 1px solid red;
  box-shadow: 0px 5px 30px red;
}
#main {
  border: 200px solid #999;
  background: #111;
  font-size: 40px;
}
.column-1 {
  width: 25%;
}
.column-2 {
  width: 50%;
}
.column-3 {
  width: 75%;
}
.column-4 {
  width: 100%;
}
#wrap {
  width: `Math.round(Math.random()*100)`px;
  height: `window.innerHeight`px;
  background-color: rgba(`Math.round(Math.random()*256`,`Math.round(Math.random()*256`,`Math.round(Math.random()*256`);
}
#wrap::after {
  content: "aaa";
}
