/*清除默认内外边距*/
* {
    margin: 0;
    padding: 0;
}

/*版心，所有标签居中时调用*/
.w {
    width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*清除浮动*/
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.side {
    position: fixed;
    /*固定定位*/
    top: 200px;
    left: 100px;
    width: 200px;
    height: 400px;
    line-height: 400px;
    text-align: center;
    background-color: #ccc;
    animation: move 2s linear infinite none;
}

@keyframes move {
    100% {
        transform: translateY(60px);
    }
}

.header {

    width: 1200px;
    height: 42px;
    /*background: pink;*/
    margin-bottom: 20px;
    margin-top: 20px;

}

.logo {
    float: left;
    width: 195px;
    height: 42px;
    background-image: url(images/logo.png);
    margin-right: 70px;
}

.header nav {
    float: left;
    width: 255px;
}

.nav li {
    float: left;
    height: 42px;
    line-height: 42px;
    padding-left: 10px;
    padding-right: 10px;
}

.nav a {
    display: block;
    float: left;
    height: 42px;
    margin-left: 30px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
}

.search {
    float: left;
    height: 42px;
    margin-left: 90px;
}

input {
    float: left;
    width: 360px;
    height: 40px;
    border: 1px solid skyblue;
    text-indent: 20px;
}

button {
    float: left;
    border: none;
    height: 42px;
    width: 42px;
    background: url(images/btn.png) center repeat;
}

.user {
    float: right;
    height: 42px;
    line-height: 42px;
    /*padding-top: 5px;
    padding-bottom: 5px;*/
}

img {
    vertical-align: middle;
}

.banner {
    height: 422px;
    background: #1c036c url(images/banner2.jpg) top center no-repeat;
    /*背景图片向上左右居中*/
}

.subnav {
    float: left;
    height: 362px;
    /*422-30*2*/
    width: 155px;
    /*191-18*2*/
    background-color: rgba(0, 0, 0, .5);
    /*黑色半透明*/
    padding: 30px 18px;
}

.subnav span {
    float: right;
}

.subnav li {
    width: 155px;
    height: 45px;

}

.subnav a {
    color: #fff;
    font-size: 14px;
}

.subnav a:hover {
    color: #0393d9;
    padding-left: 10px;
}

.course {
    float: right;
    margin-top: 50px;
    width: 228px;
    height: 300px;
    background-color: #fff;

}

.title {
    height: 48px;
    line-height: 48px;
    background-color: #9bceea;

}

.title h3 {
    width: 100px;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.list ul li {
    width: 200px;
    height: 52px;
    /*高度剩余法。让多行文字居中*/
    border-bottom: 1px dashed #ccc;
    margin: auto;
    margin-top: 13px;
}

.all {
    display: block;
    width: 198px;
    height: 40px;
    margin: auto;
    margin-top: 5px;
    line-height: 40px;
    font-size: 15px;
    color: #22b0ff;
    text-align: center;
    border: 1px solid #22b0ff;
}

.list .all:hover {
    background-color: #22b0ff;
    color: #fff;
}

.goods {
    height: 62px;
    line-height: 62px;
    margin-top: 30px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3)
}

.goods-item {
    float: left;
}

.goods h3 {
    float: left;
    /*width: 70px;*/
    margin: 0 30px;
    font-size: 16px;
    color: #00a4ff;
}

.goods a {
    font-size: 16px;
    color: #000;
    margin: 0 30px;
}

.mod {
    float: right;
    margin-right: 27px;
    font-size: 14px;
    color: #00a4ff
}

.box {
    margin-top: 24px;
    margin-bottom: 20px;
}

.box-hd {
    height: 54px;
    line-height: 54px;
}

.box h3 {
    float: left;
    color: #494949;
    font-size: 20px,

}

.box a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
}

.box-bd ul {
    width: 1216px;
    /*ul宽度可以超过父盒子box1200,这样一行才能装下5个li */
}

.box li {
    position: relative;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 228px;
    height: 270px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

.box-bd .imge {
    position: absolute;
    width: 40px;
    height: 24px;
    right: -4px;
    top: 6px;
}

.box-bd img {
    width: 228px;
}

.box-bd h4 {
    font-size: 14px;
    color: #050505;
    margin: 20px;
}

.box-bd p {
    text-indent: 20px;
    font-size: 12px;
    color: #999;
}

.box-bd span {
    color: red;
}

.footer {
    height: 380px;
    padding: 35px 0;
}

.copyright {
    float: left;
}

.fbd {
    padding-top: 25px;

}

.APP {
    display: block;
    margin-top: 25px;
    width: 120px;
    height: 36px;
    font-size: 16px;
    color: #00a4ff;
    border: 1px solid #00a4ff;
    line-height: 36px;
    text-align: center;
}

.link {
    float: right;
}

dl {
    float: left;
    margin-left: 100px;
}

dt {
    padding-bottom: 18px;
    font-size: 16px;
    color: #333;
}

dd {
    line-height: 20px;
    font-size: 12px;
}

.list h5 {
    margin: 0;
    text-align: center;
}

.link a {
    color: #333;
}

.link a:hover {
    color: red;
}

.pic {
    float: right;
}

.right li {
    float: right;
    width: 228px;
    margin-top: 20px;
    background-color: #fff;
}

li img {
    width: 228px;
    /*一定要给图片设置宽度和父盒子一致*/
}

.right .fd {
    font-size: 12px;
}

h5 {
    width: 188px;
    height: 36px;
    font-size: 14px;
    color: #050505;
    margin: 20px;
}

.right span {
    font-size: 12px;
    color: #ffb798;
}

.fd {
    margin: 0 25px 25px 25px;
}

.subnavs {
    float: left;
    width: 228px;
    height: 391px;
    background: url(images/148.jpg);
}

.right ul {
    width: 1216px;
}