a {
  text-decoration: none;
}
html {
  font-size: 50px;
}
input {
  outline: none;
  border: 0;
}
img {
  vertical-align: middle;
}
ul {
  list-style: none;
}
div,
ul,
li {
  box-sizing: border-box;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 28.26666667px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
body {
  min-width: 320px;
  width: 15rem;
  margin: auto;
  font-family: Arial, Helvetica;
  background: #f2f2f2;
  height: 1000px;
}
body .search_content {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  height: 1.76rem;
  font-size: .5rem;
  background-color: #FFC001;
}
body .search_content a:nth-of-type(1) {
  width: 0.88rem;
  height: 1.4rem;
  font-size: 0;
  margin: 0.22rem 0.5rem 0.14rem 0.48rem;
  background: url(../images/classify.png) no-repeat;
  background-size: 0.88rem 1.4rem;
}
body .search_content a:nth-of-type(2) {
  width: 1.5rem;
  height: 1.4rem;
  margin: 0.2rem;
  line-height: 1.4rem;
  text-align: center;
  color: #fff;
}
body .search {
  flex: 1;
}
body .search input {
  width: 100%;
  height: 1.32rem;
  margin-top: 10px;
  background-color: #FFF2CC;
  text-indent: 1.1rem;
  border-radius: 1.32rem;
}
.banner {
  width: 15rem;
  height: 7.36rem;
  margin-top: 1.76rem;
}
.banner img {
  width: 100%;
  height: 100%;
}
.ad {
  display: flex;
}
.ad a {
  flex: 1;
}
.ad a img {
  width: 100%;
}
nav {
  display: flex;
  width: 15rem;
  flex-wrap: wrap;
}
nav a {
  flex: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  font-size: 0.5rem;
}
nav a img {
  width: 1.64rem;
  height: 1.64rem;
  margin: 0.28rem;
}
